@media (max-width: 768px) {
    body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.big-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    height: 800px;
    width: 600px;
}

.little-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(153, 153, 202);
    height: 650px;
    width: 500px;
    border-radius: 40px;
}

hr{
    width: 450px;
}
    
}