
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(bg.webp);
    background-size: cover;
    color: white;
}

#main-image{
    margin-top: 20px;
    height: 310px;
    width: 310px;
    border-radius: 30px;
    z-index: 10;
}

.big-container{
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
}

.icon{
    height: 20px;
    width: 20px;
    filter: invert();
}

.mini-title{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: -125px;
}

h3{
    font-size: 15px;
    margin-top: -10px;
    margin-left: -100px;
}

h4{
    font-size: 14px;
}

.little-container, .mini-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(22, 22, 22);
    width: 340px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.57);
}

.map-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(22, 22, 22);
    width: 340px;
    height: 340px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.57);
}

#map{
    height: 260px;
    width: 270px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.map-container h3{
    margin-top: 30px;
    margin-right: 60px;
}

.mini-container{
    justify-content: start;
    width: 310px;
    padding-top: 70px;
    margin-top: -70px;
    background-color: rgb(50, 50, 50);
    border: 0px;
}

hr{
    margin-top: -10px;
    width: 270px;
}

h2{
    font-size: 25px;
}

button{
    font-size: 12px;
    height: 50px;
    width: 260px;
    border-radius: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:hover{
    background-color: rgb(30, 30, 30);
    color: white;
}